@import "tailwindcss";

@theme {
  --color-bg-primary: #13131a;
  --color-bg-secondary: #1a1a20;

  --color-text-primary: #fff;
  --color-text-secondary: #cfcfd1;
  --color-text-tertiary: #a1a1a3;

  --color-text-red: #fc3d49;

  --color-progress-bar-red: #c23d48;
  --color-progress-bar-bg: #404049;
  --color-progress-bar-red-active: #fc404a;
  --color-progress-bar-bg-active: #42424a;
  --color-progress-bar-text: #fff;
  --color-progress-bar-tooltip: #1a1a20;
}
